.dropDown-container{
    position: absolute;
    right: 0;
    width:100%;
    top: 100%;
    border-radius: 10px;
    z-index: 980;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
    transform: translateY(30px);
    transition: 100ms;
    box-shadow: 0 0 14px 0 rgba(0, 0 ,0 ,0.10);
}
[data-open-direction="right"].dropDown-container{
    left: 0;
    right: initial;
}
.dropDown-container:before{
    content: '';
    border-bottom: 6px solid white;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: -6px;
    right: 25px;
    z-index: 970;
}
.dropDown-container:after{
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    top: -10px;
    background: transparent;
    position: absolute;
}
[data-open-direction="right"].dropDown-container:before{
    right: initial;
    left: 25px;
}
.dropDown{
    position: relative!important;
}
.dropDown:hover .dropDown-container{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}