
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: calc(100vh - 32px);
}

.RegisterForm{
    border-radius: 8px;
    border: 1px solid #ededed;
    padding: 30px;
    max-width: 380px;
    width: 100%;
    box-shadow: 2px 4px 10px 0 #fbf4f4;
    background-color: #fefefe
}
.logo{
    margin-bottom: 30px;
    text-align: center;
}

.formControl{
    margin-bottom: 16px;
}
.newMember{
    display: flex;
    align-items: baseline;
    margin-top: 6px;
}
.newMember p{
    color: #62666d;
    font-size: 14px;
}
.newMember a{
    color: #62666d;
    border-bottom: 1px dashed #62666d;
    margin-inline-start: 6px;
    font-size: 12px;
}