
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(-100deg, #dd2955 0%, #8B63FB 100%);
    border-radius: 12px;
    padding-inline: 8px;
}
.title{
    text-align: center;
    color: white;
    margin-block: 8px;
}
.title :first-child{
    margin-bottom: 16px;
}
.parallaxBox{
    height: 200px;
    max-width: 370px;
    min-width: 270px;
}
.parallaxBox img {
    width: 100%;
    height: 100%;
}

@media (min-width:992px) {
    .container{
        flex-direction: row;
        padding-inline: 0;
    }
    .parallaxBox{height: 250px}
}